/* General reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body and font styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #705738;
}

/* Home container */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styling */
.home-header {
  background-color: #19a7d600;
  color: #b4976b;
  padding: 20px;
  text-align: center;
}

/* Main content grid */
.home-main {
  flex-grow: 1;
  padding: 20px;
}

/*Featured Item Section */
.featured-items {
  display: flex;
  align-items: flex-start;
  background-color: #ffffff00;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px #0000001a;
  margin-bottom: 20px;
  padding: 20px;
}


.featured-images {
  width: 50%;
  height: auto;
  margin-right: 20px;
}

.featuredinfo div{
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  flex-grow: 1;
}

.featuredinfo h2{
  margin-bottom: 15px;
  color: #333;
}

.featuredinfo .description {
  color: #020202;
  text-align: left;
  font-size: 16px;
}
/*Middle just to show the cut off */

.home-middle{
  background-color: #19a7d600;
  color: #b4976b;
  padding: 20px;
  text-align: center;
}
/* Grid layout for updated items */
.item-grid {
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  justify-items: center;
}

/* Item card styling */
.item-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  transition: transform 0.2s;
}

.item-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.item-card p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

/* Hover effect on items */
.item-card:hover {
  transform: scale(1.05);
}

/* Footer styling */
.home-footer {
  background-color: #33333300;
  color: #000000;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}
