.Search{
    background-color:blue;
    height: 100vh;
    width: 100vw;
}

.Search-bar-container{
    padding-top: 5vh;
    width: 10%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}