<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Card UI Design</title>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="profile-card">
      <div class="image">
        <img src="../../assets/profileImage.jpg" alt="" class="profile-img" />
      </div>

      <div class="text-data">
        <span class="name">userName</span>
        <span class="job">userEmail</span>
      </div>

      <div class="media-buttons">
        
        <a href="#" style="background: #1da1f2" class="link">
          <i class="bx bxl-twitter"></i>
        </a>
        <a href="#" style="background: #e1306c" class="link">
          <i class="bx bxl-instagram"></i>
        </a>
        
      </div>

      <div class="buttons">
        <button class="button">Profile Settings</button>
      </div>

      <div class="analytics">
        <div class="data">
          <i class="bx bx-camera-movie"></i>
          <span class="number">60k</span>
        </div>
        <div class="data">
          <i class="bx bx-comment-detail"></i>
          <span class="number">20k</span>
        </div>
        <div class="data">
          <i class="bx bx-user"></i>
          <span class="number">12k</span>
        </div>
      </div>
    </div>
  </body>
</html>