/* Container for the entire page */
.movie-details-container {
    display: flex;
    flex-direction: column;
    background-color: #565656; /* Match the background color with the home page */
    min-height: 100vh;
  }
  

.navbar {
  width: 100%;
  background-color: #000000; 
}


/* Box for the movie info (poster and description) */
.movie-box {
  display: flex;
  align-items: flex-start;
  background-color: #C0C0C0; 
  overflow: hidden;
  box-shadow: 0 4px 8px #00000094; 
  padding: 20px;
}

/* Movie Poster */
.movie-poster-1 {
  width: 40%; 
  height: auto;
  margin-right: 20px;
  border-radius: 4px;
}

/* Movie Information */
.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

/* Movie Title Styling */
.movie-title {
  font-size: 30px;
  color: #000000;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Movie Subtitle Styling (Release year and Director) */
.movie-subtitle {
  font-size: 16px;
  color: #000000;
  margin-bottom: 15px;
}

/* Movie Description Styling */
.movie-description {
  color: #000000;
  text-align: left;
  font-size: 20px;
  line-height: 1.6;
}
.tab-container {
  display: flex;
  width: 100%; /* Ensure the tabs take up the full width */
}


.tab-container button {
  flex: 1; 
  padding: 15px; 
  cursor: pointer;
  background-color: #ccc;
  font-weight: bold;
  border: none;
}


.tab-container .active-tab {
  background-color: #007bff; 
  color: white;
}
  